
<button [routerLink]="['/products']">Back</button>


<h4>New Product</h4>

<p *ngFor="let error of errors">{{ error }}</p>
<form (submit)='addProduct()'>
  Name: <input type="text" name="name" [(ngModel)]="newProduct.name">
  Quantity:<input type="text" name="qty" [(ngModel)]="newProduct.qty">
  Price:<input type="text" name="price" [(ngModel)]="newProduct.price">

  <input type="Submit">
</form>