
<h3>Product List</h3>
<button [routerLink]="['/products/new']">Add New Product</button>


<table>
  <thead>
    <th>Id</th>
    <th>Name</th>
    <th>Qty</th>
    <th>Price</th>
    <th>Action</th>
  </thead>
  <tr *ngFor="let product of products">
    <td>{{ product._id }}</td>
    <td>{{ product.name }}</td>
    <td>{{ product.qty }}</td>
    <td>{{ product.price }}</td>
    <td>
      <button [routerLink]="['/products/edit', product._id]">Edit</button>
      <button [routerLink]="['/products', product._id]">Details</button>
    </td>
  </tr>
</table>