
<button [routerLink]="['/products']">Back</button>

<h4>Edit Product</h4>

<p *ngFor="let error of errors">{{ error }}</p>
<form (submit)='editProduct()'>
  Name: <input type="text" name="name" [(ngModel)]="product.name">
  Quantity:<input type="text" name="qty" [(ngModel)]="product.qty">
  Price:<input type="text" name="price" [(ngModel)]="product.price">

  <input type="Submit">
  <button (click)="delete(author._id)" >RESET NOT DONE</button>
</form>