
<h3>Product Details</h3>


    <h3>Name: {{ product.name }}</h3>
    <h3>Qty: {{ product.qty }}</h3>
    <h3>Price: {{ product.price }}</h3>


  <button [routerLink]="['/products']">Back</button>
  <button [style.visibility]="(product.qty !== 0) ? 'hidden' : 'visible' " (click)="delete(product._id)" >Delete</button>